page-login {
    .icone-login {
        background-image: url(/assets/icon/login.svg);
        background-size: cover;
        width: 210px;
        height: 147px;
        display: inline-block;
    }
}
