# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
erros.txt
**.apk
.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
*.tmp.*

src/pages/feedback/feedback.js
src/pages/feedback/feedback.js.map
src/pages/modal-address/modal-address.js
src/pages/modal-address/modal-address.js.map
src/pages/modal-location/modal-location.js
src/pages/modal-location/modal-location.js.map
src/pages/modal-map/modal-map.js
src/pages/modal-map/modal-map.js.map
src/pages/modal-notification/modal-notification.js
src/pages/modal-notification/modal-notification.js.map
src/pages/modal-register/modal-register.js
src/pages/modal-register/modal-register.js.map
src/pages/modal-schedule/modal-schedule.js
src/pages/modal-schedule/modal-schedule.js.map
src/pages/modal-tour/modal-tour.js
src/pages/modal-tour/modal-tour.js.map
src/providers/analytics.js
src/providers/analytics.js.map
src/providers/constant-service.js
src/providers/constant-service.js.map
src/providers/device.js
src/providers/device.js.map
src/providers/error.js
src/providers/error.js.map
src/providers/fb-provider.js
src/providers/fb-provider.js.map
src/providers/sale.js
src/providers/sale.js.map
src/providers/user.js
package-lock.json
