<!--
  Generated template for the VoucherModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="voucher" padding>
  <div class="modal-overlay" [ngClass]="closing ? 'on-close': '' " (click)="dismiss()"></div>
  <div class="voucher__ticket" [ngClass]="voucher_active?'active':error_active?'fail':''" >
    <p class="voucher__text" *ngIf="!error_active">Parece que você encontrou um de
      nossos cupons.</p>
    <p class="voucher__text" *ngIf="error_active">Este cupom já foi utilizado ou é inválido.</p>
      <span class="voucher__value">
        <small>R$</small>
        <label>{{voucher_active?vouch.value:0}},00</label>
      </span>
      <ion-input class="voucher__input" placeholder="Insira o cupom" maxlength=9 [(ngModel)]="code" (ngModelChange)="changecod()"></ion-input>
    </div>
  </ion-content>
