page-status {
      @keyframes loading {
          0% { transform: rotate(0deg)}
          100% { transform: rotate(359deg)}
      }

      .order {
          background: #573317;
          padding: 20px;
          margin-bottom: 25px;
          position: relative;

          &:after {
              content: '';
              background-image: url(../assets/icon/trigger-brown.svg);
              background-size: cover;
              width: 23px;
              height: 23px;

              position: absolute;
              top: 100%;
              left: 37px;
              display: block;
              margin-top: -12px;
          }

          &__image {
              @include border-radius(10px);

              border: 2px solid $color-background;
              display: inline-block;
              vertical-align: middle;
              width: 58px;
              height: 58px;
              margin: 0 15px 0 0;
              text-align: center;
              overflow: hidden;
              z-index: 2;
              position: relative;

              &__img {
                  position: relative;
                  display: block;
                  height: 100%;
                  width: auto;
                  background-size: cover !important;
                  text-align: center;
                  margin: 0 auto;
                  z-index: 1;
              }
          }

          &__label {
              @extend .font-bold;

              color: $color-background;
              font-size: 14px;
              text-transform: uppercase;
          }
      }

      .order-status {
          list-style-image: none;
          padding-left: 31px;

          &__item {
              display: block;
              margin-bottom: 35px;
              position: relative;

              .order-status__delivery {
                  display: none;
              }

              &:after {
                  content: '';
                  display: block;
                  width: 1px;
                  background: #573317;
                  position: absolute;
                  top: 34px;
                  margin-top: 11px;
                  left: 18px;
                  height: 18px;
              }

              &:last-child:after {
                  display: none;
              }

              &.delivery.active {
                  margin-bottom: 22px;

                  .order-status__delivery {
                      display: block;
                  }
              }

              &.delivery.active:after {
                  height: 60px;
              }
          }

          &__icon {
              @include border-radius(100px);

              border: 2px solid #573317;
              width: 36px;
              height: 36px;
              display: inline-block;
              vertical-align: middle;
              margin-right: 15px;
          }

          &__item.active .order-status__icon {
              background-image: url(../assets/icon/icon-check.svg);
              background-size: cover;
              width: 36px;
              height: 36px;
              border: none;
              border-radius: 0;
          }

          &__item.loading .order-status__icon {
              background-image: url(../assets/icon/icon-loading.svg);
              background-size: cover;
              width: 36px;
              height: 36px;
              border: none;
              border-radius: 0;
              animation: loading 1s linear 0s infinite normal;
              animation-fill-mode: both;
          }

          &__label {
              @extend .font-regular;

              font-size: 14px;
              color: #573317;
          }

          &__item.active .order-status__label {
              @extend .font-bold;

          }

          &__delivery {
              &__image {
                  @include border-radius(5px);

                  border: 1px solid #573317;
                  display: inline-block;
                  vertical-align: middle;
                  width: 50px;
                  height: 50px;
                  margin: 5px 10px 0 53px;
                  overflow: hidden;

                  img {
                      height: 100%;
                      width: auto;
                  }
              }

              &__label {
                  @extend .font-bold;

                  font-size: 16px;
                  color: #573317;
                  display: inline-block;
                  vertical-align: middle;
                  margin-top: 4px;

                  small {
                      @extend .font-regular;

                      font-size: 12px;
                      text-transform: uppercase;
                      display: block;
                      margin-bottom: 2px;
                  }
              }

          }
      }

      .btn-finish {
          @include border-radius(50px);
          @extend .font-bold;

          border-radius: 0;
          background: white;
          border-top: 2px solid #573317;
          font-size: 18px;
          padding: 20px;
          height: auto;
          width: 100%;
          margin: 10px 0 0 0;
          text-transform: uppercase;
          color: #573317;
      }


  }
