page-feedback {
    
    .feedback {
    
        &__star {
            background-image: url(../assets/icon/icon-star.svg);
            background-size: cover;
            width: 35px;
            height: 35px;
            display: inline-block;
            margin: 20px 5px 35px;
            background-color: transparent;
            
            &.active {
                background-image: url(../assets/icon/icon-star-vote.svg);
                background-size: cover;
                width: 35px;
                height: 35px;
                display: inline-block;
                background-color: transparent;
            }
        }
    }
    
  .btn-finish {
    @include border-radius(50px);
    @extend .font-bold;

    position: absolute;
    bottom: -25px;
    background: #D5A86C;
    border: 2px solid #FFFFDD;
    font-size: 17px;
    padding: 10px 30px;
    height: auto;
    left: 50%;
    width: 290px;
    margin-left: -145px;
    transition: all .5s;
    color: #573317;
    text-transform: uppercase;
  }

  .comment {

    &__box {
      padding: 0 15px;
      background: white;
      width: 100%;
      height: 60px;
      z-index: 2;
      box-shadow: 0 5px 10px 0 rgba(0,0,0,.5);
      margin-bottom: 20px;

      &__input {
        @extend .font-regular;

        background: transparent;
        color: #666;
        border: 0;
        height: 60px;
        width: 70%;
      }
    }
  }

}
