<!--
  Generated template for the MapAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>map-address</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="address__box" >
    <span class="address__icon icon-map"></span>
    <ion-input #inputaddress class="address__input" [(ngModel)]="fulladdress" (ngModelChange)="addressChange()">
    </ion-input>

    <ul class="address__autocomplete" *ngIf="addressOptions && addressOptions.length ">
      <li class="map__adress__autocomplete__item"  *ngFor="let ad of addressOptions | slice:0:5;" (click)="setAddress(ad)">{{ad.formatted_address}}</li>
    </ul>
  </div>

</ion-content>
