page-map-address {
  .map-address {
    &__autocomplete {
        background: white;
        position: absolute;
        top: 65px;
        width: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,.5);

        &__item {
            @extend .font-regular;

            color: #666;
            font-size: 14px;
            padding: 15px;
            border-bottom: 1px solid #ccc;
            margin: 0;

            &:last-child {
                border-bottom: none;
            }
        }
    }
  }
}
