page-map-address {
  .map-address {

    &__title {
      @extend .font-regular;

      text-transform: uppercase;
      font-size: 12px;
      color: white;
      text-align: center;
      margin: 20px 0;
    }

    &__box {
        width: 100%;
        position: relative;
        z-index: 2;
        transition: all 0.3s;

        &.hidden{
            display: none;
            opacity: 0;
        }
    }

    &__icon {
        position: absolute;
        left: 15px;
        top: 15px;
    }

    &__search {
      background-image: url(../assets/icon/icon-search.svg);
      background-size: cover;
      width: 26px;
      height: 26px;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 17px;
      left: 15px;
      z-index: 4;
    }

    &__input {
        @extend .font-regular;
        @include border-radius(10px);

        box-shadow: none;
        display: block;
        background: white;
        color: $color-secondary;
        height: 60px;
        width: 100%;
        padding: 18px 0 18px 50px;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,.5);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        input {
            margin: 0;
        }
    }



    &__autocomplete {
        @include border-radius(10px);

        background: white;
        position: absolute;
        top: 62px;
        width: 100%;
        left: 0;
        z-index: 5;
        margin: 0;
        padding: 0;
        list-style: none;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,.5);

        &__item {
            @extend .font-regular;

            color: #666;
            font-size: 14px;
            padding: 15px;
            border-bottom: 1px solid #ccc;
            margin: 0;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    &__saved {
      margin-top: 20px;
      padding: 0;

      &__item {
        @extend .font-regular;
        @include border-radius(10px);

        position: relative;
        width: 100%;
        margin: 10px 0 15px;
        padding: 15px;
        list-style: none;
        border: 2px solid white;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;

        .icon-map {
            position: relative;
            margin-right: 10px;
            top: 0;
            left: 0;
        }
      }
    }
  }
}
