
<ion-header>
   <button class="btn-schedule icon-opened" ion-button secondary *ngIf="products.length >0" (click)="openSchedule()"></button>
 <h1 class="logo-dark"></h1>
 <button class="btn-voucher" ion-button secondary *ngIf="products.length >0" (click)="openVoucher()"></button>
</ion-header>

<ion-content class="bkg-choose center" >
  <div class="table"></div>

  <ion-slides class="choose-slider"  [ngClass]="!taped ? 'on-slide': '' " (ionSlideDrag)="onTaped()" hideWhen="!products.length >0">
    <ion-slide *ngFor="let prod of products">
      <div *ngIf="prod.product.cold" >
        <!-- <p class="choose__pricebox">
          <span class="choose__pricebox__info1">{{prod.product.description}}</span>
          <span class="choose__pricebox__info2">Por Unidade</span>
          <span class="choose__pricebox__price">
           <small class="choose__pricebox__price--currency">R$</small>{{prod.price |number:'1.2-2'}}
         </span>
         <span class="choose__pricebox__each">
           <small class="choose__pricebox__each--currency">R$</small>{{prod.unitvalue |number:'1.2-2'}}
         </span>

       </p> -->
       <p class="product__bottom">
         <span class="product__labels">
           <span class="product__cold" *ngIf="prod.product.cold"><span class="icon-cold"></span>Gelada!</span>
           <span class="product__size"><span class="icon-shipping-white"></span>350ml</span>
         </span>
          <figure class="product__picture">
          <img-loader [src]="'http://cerveja.me/img/mobile/'+prod.product.img" useImg></img-loader>
        </figure>
      </p>
    </div>
    <div *ngIf="!prod.product.cold">
        <!-- <span class="choose__pricebox__info1">{{prod.product.details.type}}</span>
        <span class="choose__pricebox__info2">{{prod.product.details.winery}}</span>
        <span class="choose__pricebox__price">
         <small class="choose__pricebox__price--currency">R$</small>{{prod.price |number:'1.2-2'}}
       </span>
       <span class="choose__pricebox__each">
         <small class="choose__pricebox__each--currency">{{prod.product.details.grape}}</small>
       </span>
       <span class="free-shipping"><span class="icon-shipping-white"></span>Grátis ~ 30min</span>
       <span class="termo-natura" *ngIf="!prod.product.cold"><span class="icon-termo"></span>Natural</span> -->
     <p class="product__bottom">
       <span class="product__labels">
         <span class="product__natura" *ngIf="!prod.product.cold"><span class="icon-termo"></span>Natural</span>
         <span class="product__size"><span class="icon-shipping-white"></span>Português</span>
       </span>
      <figure class="product__picture">
        <img-loader [src]="'http://cerveja.me/img/mobile/'+prod.product.img" useImg></img-loader>
      </figure>
    </p>
  </div>
</ion-slide>

</ion-slides>
<ion-slides class="choose-slider" *ngIf="loadedcompleted && err==='NO_ZONE_AVAILABLE'">
 <ion-slide>
   <p class="msg-empty">

     <span class="msg-empty__title">Não atendemos sua região.</span>

     Quer levar para sua cidade?<br/>
     Saiba como: <strong><a href="http://cerveja.me">Cerveja.me</a></strong></p>
     <p class="choose__bottom">
      <figure class="choose__picture" style="bottom: 5%;">

        <img style="margin-top: 5%" src="assets/img/empty.png">
      </figure>
    </p>
  </ion-slide>
</ion-slides>
<ion-slides class="choose-slider" *ngIf="loadedcompleted && err==='GEOLOCATION_TIMEOUT'">
 <ion-slide>
   <p class="msg-empty location-error">

     <span class="msg-empty__title">Oops!</span>

     Não conseguimos identificar sua localização automaticamente.<button class="btn-white" (click)="tryAgain()">Tentar novamente</button>

     <p class="choose__bottom">
      <figure class="choose__picture" style="bottom: 5%;">

        <img style="margin-top: 5%" src="assets/img/empty.png">
      </figure>
    </p>
  </ion-slide>
</ion-slides>


<ion-slides class="choose-slider" *ngIf="loadedcompleted && err==='USER_DENIED_GEOLOCATION'">
 <ion-slide>
   <p class="msg-empty location-error">

     <span class="msg-empty__title">Onde você está?</span>

     Ative o uso da Localização nas configurações do seu aparelho.<button class="btn-white" (click)="tryAgain()">Já ativei</button>

     <p class="choose__bottom">
      <figure class="choose__picture" style="bottom: 5%;">

        <img style="margin-top: 5%" src="assets/img/empty.png">
      </figure>
    </p>
  </ion-slide>
</ion-slides>


</ion-content>
<ion-footer *ngIf="products && products.length && loadedcompleted" align-title="left" >

  <div class="receipt" >
    <div class="receipt__padding">
      <button class="btn-minus" (click)="decreaseAmount()"></button>
      <div class="receipt__pricebox">
        <h2 class="receipt__amount">{{amount}} Caixas</h2>
        <span class="receipt__discount" *ngIf="amount>1">-{{discount*100}}%</span>
        <span class="receipt__price">R$ {{products[slides.getActiveIndex()].price * amount |number:'1.2-2'}}</span>
        <div class="free-shipping">
          <span class="icon-shipping"></span>
          <label>Grátis ~ 30min</label>
        </div>
      </div>
      <button class="btn-plus" (click)="increaseAmount()"></button>
    </div>

    <button ion-button secondary class="btn-primary" (click)="finishRequest()">Escolher</button>
  </div>

    <button ion-button secondary (click)="openStatus()" class="order-status-bar" *ngIf="sale && sale.id" >

      <span class="order-status-bar__label" *ngIf="!sale.aceptedAt && !sale.onWayAt">
        <span class="icon-loading"></span>
        <label>Aguardando confirmação</label>
      </span>

      <span class="order-status-bar__label active" *ngIf="sale.aceptedAt && !sale.onWayAt">
        <span class="icon-check"></span>
        <label>Perdido confirmado</label>
      </span>

      <span class="order-status-bar__label delivery active" *ngIf="sale.aceptedAt && sale.onWayAt">
        <figure class="order-status-bar__image">
          <img-loader [src]="'http://cerveja.me/img/mobile/driver/'+sale.user.img"></img-loader>
        </figure>
        <label>{{sale.user.name}} saiu para entrega</label>
      </span>
    </button>
  </ion-footer>
