<ion-header (click)="showTip=false">
  <button class="btn-schedule icon-opened" [ngClass]="closed ? 'closed': '' " ion-button secondary *ngIf="products.length >0" (click)="openSchedule()"></button>
  <button ion-button (click)="openSchedule()" secondary class="schedule-off" *ngIf="closed">
    <span class="schedule-off__label">
      <span class="icon-clock-w"></span>Não é possível fazer pedidos agora.</span>
      <span class="schedule-off__hours">Horários</span>
    </button>
    <h1 class="logo-dark"></h1>
    <button class="btn-voucher" ion-button secondary *ngIf="products.length >0" (click)="openModalVoucher()"></button>
  </ion-header>

  <ion-content class="bkg-choose center" [ngClass]="closed ? 'closed': '' " (click)="showTip=false">

    <div class="table" [ngClass]="loadedcompleted && (err==='USER_DENIED_GEOLOCATION' || err==='NO_ZONE_AVAILABLE' || err=='GEOLOCATION_TIMEOUT') ? 'table-bottom': ''"></div>

    <ion-slides [initialSlide]="0"  [centeredSlides]="true" [loop]="false" [slidesPerView]=2 pager class="choose-slider" (ionSlideDidChange)="slideChanged()" [ngClass]="!taped ? 'on-slide': '' " (ionSlideDrag)="onTaped()"  hideWhen="!products.length >0">
      <ion-slide *ngFor="let prod of products" >
        <div *ngIf="prod.cold">
          <p class="product__bottom">
            <span class="product__labels">
              <span class="product__cold" *ngIf="prod.cold"><span class="icon-cold"></span>Gelada!</span>
              <span class="product__size">{{prod.volume}}ml</span>
            </span>
            <figure class="product__picture">
              <img-loader [src]="'http://cerveja.me/img/mobile/'+prod.img" useImg></img-loader>
            </figure>
          </p>
        </div>
        <div *ngIf="!prod.cold">

          <p class="product__bottom">
            <span class="product__labels">
              <span class="product__natura" *ngIf="!prod.cold"><span class="icon-termo"></span>Natural</span>
              <span class="product__size">{{prod.name}}</span>
            </span>
            <figure class="product__picture">
              <img-loader [src]="ASSETS+'images/mobile/'+prod.img" useImg></img-loader>
            </figure>
          </p>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-content>


  <ion-footer *ngIf="products && products.length " align-title="left" (click)="showTip=false">

    <div class="receipt">
      <div class="receipt__padding"  *ngIf="products[current] ">
        <button class="btn-minus" (click)="decreaseAmount()" [ngClass]="changingSlide || amount==1 ? 'dragging': '' "></button>

        <div class="receipt__pricebox" [ngClass]="changingSlide ? 'dragging': selectedBeer.cold?'switch':''" >
          <div class="receipt__pricebox__pack">
            <h2 class="receipt__amount">{{amount}} {{selectedBeer.beer.cold?'Caixa':'Garrafa'}}{{selectedBeer.amount>1?'s':''}}</h2>
            <span class="receipt__discount animated" *ngIf="amount>1 && !changingSlide && !updatingAmount">-{{selectedBeer.finalDiscount |number:'1.0-0'}}% <small>OFF</small></span>
            <span class="receipt__discount animated" *ngIf="amount>1 && !changingSlide && updatingAmount">-{{selectedBeer.finalDiscount |number:'1.0-0'}}% <small>OFF</small></span>
            <span class="receipt__price">R$ {{selectedBeer.price |number:'1.2-2'}}</span>
            <div class="free-shipping">
              <span class="icon-shipping"></span>
              <label>Entrega Grátis</label>
            </div>
          </div>
          <div class="receipt__pricebox__each">
            <h2 class="receipt__amount" >{{selectedBeer.amount * selectedBeer.beer.amount}} Unidades</h2>
            <span class="receipt__discount animated" *ngIf="amount>1 && !changingSlide && !updatingAmount">-{{selectedBeer.finalDiscount |number:'1.0-0'}}%</span>
            <span class="receipt__discount animated" *ngIf="amount>1 && !changingSlide && updatingAmount">-{{selectedBeer.finalDiscount |number:'1.0-0'}}%</span>
            <span class="receipt__price" >
              R$ {{selectedBeer.unitValue |number:'1.2-2'}}
            </span>
            <div class="free-shipping">
              <span class="icon-shipping"></span>
              <label>Entrega Grátis</label>
            </div>
          </div>
        </div>
        <button class="btn-plus tip" (click)="increaseAmount()" [ngClass]="changingSlide ? 'dragging': '' " >
          <span class="tip__balloon tip-up" *ngIf="showTip">Quanto mais você compra, mais desconto você ganha.</span>
        </button>
      </div>

      <button ion-button secondary class="btn-primary" (click)="selectProduct(selectedBeer)" *ngIf="!closed">Escolher</button>
      </div>

    </ion-footer>
