
<ion-header (click)="showTip=false">
   <button class="btn-schedule icon-opened" [ngClass]="closed ? 'closed': '' " ion-button secondary *ngIf="products.length >0" (click)="openSchedule()"></button>
   <button ion-button (click)="openSchedule()" secondary class="schedule-off" *ngIf="closed">
   <span class="schedule-off__label">
     <span class="icon-clock-w"></span>Não é possível fazer pedidos agora.</span>
     <span class="schedule-off__hours">Horários</span>
   </button>
   <h1 class="logo-dark"></h1>
   <button class="btn-voucher" ion-button secondary *ngIf="products.length >0" (click)="openVoucher()"></button>
</ion-header>

<ion-content class="bkg-choose center" [ngClass]="closed ? 'closed': '' " (click)="showTip=false">

  <div class="table" [ngClass]="loadedcompleted && (err==='USER_DENIED_GEOLOCATION' || err==='NO_ZONE_AVAILABLE' || err=='GEOLOCATION_TIMEOUT') ? 'table-bottom': ''"></div>

  <ion-slides pager class="choose-slider" (ionSlideDidChange)="slideChanged()" [ngClass]="!taped ? 'on-slide': '' " (ionSlideDrag)="onTaped()"  hideWhen="!products.length >0">
    <ion-slide *ngFor="let prod of products">
      <div *ngIf="prod.product.cold">

       <p class="product__bottom">
         <span class="product__labels">
           <span class="product__cold" *ngIf="prod.product.cold"><span class="icon-cold"></span>Gelada!</span>
           <span class="product__size">{{prod.product.size}}ml</span>
         </span>
          <figure class="product__picture">
          <img-loader [src]="'http://cerveja.me/img/mobile/'+prod.product.img" useImg></img-loader>
        </figure>
      </p>
    </div>
    <div *ngIf="!prod.product.cold">

     <p class="product__bottom">
       <span class="product__labels">
         <span class="product__natura" *ngIf="!prod.product.cold"><span class="icon-termo"></span>Natural</span>
         <span class="product__size">{{prod.product.details.type}}</span>
       </span>
      <figure class="product__picture">
        <img-loader [src]="'http://cerveja.me/img/mobile/'+prod.product.img" useImg></img-loader>
      </figure>
    </p>
  </div>
</ion-slide>

</ion-slides>
<ion-slides class="choose-slider slider-empty" *ngIf="loadedcompleted && err==='NO_ZONE_AVAILABLE'">
 <ion-slide>
   <p class="msg-empty">

     <span class="msg-empty__title">Não atendemos sua região.</span>

     Quer levar para sua cidade?<br/>
     Saiba como: <strong><a href="http://cerveja.me">Cerveja.me</a></strong></p>
     <p class="choose__bottom">
      <figure class="choose__picture" style="bottom: 5%;">

        <img style="margin-top: 45%" src="assets/img/empty.png">
      </figure>
    </p>
  </ion-slide>
</ion-slides>
<ion-slides class="choose-slider slider-empty" *ngIf="loadedcompleted && err==='GEOLOCATION_TIMEOUT'">
 <ion-slide>
   <p class="msg-empty location-error">

     <span class="msg-empty__title">Oops!</span>

     Não conseguimos identificar sua localização automaticamente.<button class="btn-white" (click)="tryAgain()">Tentar novamente</button>

     <p class="choose__bottom">
      <figure class="choose__picture" style="bottom: 5%;">

        <img style="margin-top: 45%" src="assets/img/empty.png">
      </figure>
    </p>
  </ion-slide>
</ion-slides>

<ion-slides class="choose-slider slider-empty" *ngIf="loadedcompleted && err==='USER_DENIED_GEOLOCATION'">
 <ion-slide>
   <p class="msg-empty location-error">

     <span class="msg-empty__title">Onde você está?</span>

     Ative o uso da Localização nas configurações do seu aparelho.<button class="btn-white" (click)="tryAgain()">Já ativei</button>

     <p class="choose__bottom">
      <figure class="choose__picture" style="bottom: 5%;">

        <img style="margin-top: 45%" src="assets/img/empty.png">
      </figure>
    </p>
  </ion-slide>
</ion-slides>

</ion-content>
<ion-footer *ngIf="products && products.length && loadedcompleted" align-title="left" (click)="showTip=false">

  <div class="receipt">
    <div class="receipt__padding"  *ngIf="products[current] ">
      <button class="btn-minus" (click)="decreaseAmount()" [ngClass]="changingSlide || amount==1 ? 'dragging': '' "></button>

      <div class="receipt__pricebox" [ngClass]="changingSlide ? 'dragging': selectedBeer.beer.product.cold?'switch':''" >
        <div class="receipt__pricebox__pack">
          <h2 class="receipt__amount">{{selectedBeer.amount}} {{selectedBeer.beer.product.cold?'Caixa':'Garrafa'}}{{selectedBeer.amount>1?'s':''}}</h2>
          <span class="receipt__discount animated" *ngIf="amount>1 && !changingSlide && !updatingAmount">-{{selectedBeer.discount *100 |number:'1.0-0'}}%</span>
          <span class="receipt__discount animated" *ngIf="amount>1 && !changingSlide && updatingAmount">-{{selectedBeer.discount *100 |number:'1.0-0'}}%</span>
          <span class="receipt__price">R$ {{selectedBeer.price |number:'1.2-2'}}</span>
          <div class="free-shipping">
            <span class="icon-shipping"></span>
            <label>Grátis ~ 30min</label>
          </div>
        </div>
        <div class="receipt__pricebox__each">
          <h2 class="receipt__amount" >{{selectedBeer.amount * selectedBeer.beer.product.qtd}} Unidades</h2>
          <span class="receipt__discount animated" *ngIf="amount>1 && !changingSlide && !updatingAmount">-{{discount*100 |number:'1.0'}}%</span>
          <span class="receipt__discount animated" *ngIf="amount>1 && !changingSlide && updatingAmount">-{{discount*100 |number:'1.0'}}%</span>
          <span class="receipt__price" >
            R$ {{selectedBeer.unitValue |number:'1.2-2'}}
          </span>
          <div class="free-shipping">
            <span class="icon-shipping"></span>
            <label>Grátis ~ 30min</label>
          </div>
        </div>
      </div>
      <button class="btn-plus tip" (click)="increaseAmount()" [ngClass]="changingSlide ? 'dragging': '' " >
        <span class="tip__balloon" *ngIf="showTip">Quanto mais você compra, mais desconto você ganha.</span>
      </button>
    </div>

    <button ion-button secondary class="btn-primary" (click)="finishRequest(selectedBeer)" *ngIf="!closed">Escolher</button>
    </div>

    <button ion-button secondary (click)="openStatus()" class="order-status-bar" *ngIf="sale && sale.id" >

      <span class="order-status-bar__label" *ngIf="!sale.aceptedAt && !sale.onWayAt">
        <span class="icon-loading"></span>
        <label>Aguardando confirmação</label>
      </span>

      <span class="order-status-bar__label active" *ngIf="sale.aceptedAt && !sale.onWayAt">
        <span class="icon-check"></span>
        <label>Perdido confirmado</label>
      </span>

      <span class="order-status-bar__label delivery active" *ngIf="sale.aceptedAt && sale.onWayAt">
        <figure class="order-status-bar__image">
          <img-loader [src]="'http://cerveja.me/img/mobile/driver/'+sale.user.img"></img-loader>
        </figure>
        <label>{{sale.user.name}} saiu para entrega</label>
      </span>
    </button>
  </ion-footer>
