page-home {
  ion-scroll[scrollX] {
  white-space: nowrap;
  .scroll-item {
    display: inline-block;
  }
}
    @keyframes pop-discount {
      0% { transform: scale(1) rotate(0deg);  }
      20% { transform: scale(1.4) rotate(-5deg); }
      50% { transform: scale(1.4) rotate(-5deg); }
      80% { transform: scale(1.4) rotate(-5deg); }
      100% { transform: scale(1) rotate(0deg); }
    }

    @keyframes loading {
        0% { transform: rotate(0deg)}
        100% { transform: rotate(359deg)}
    }

    @keyframes dissolve-in {
        0% { opacity: 1}
        30% { opacity: 1}
        35% { opacity: 0}
        65% { opacity: 0}
        70% { opacity: 1}
        100% { opacity: 1}
    }

    @keyframes dissolve-out {
        0% { opacity: 0}
        35% { opacity: 0}
        40% { opacity: 1}
        60% { opacity: 1}
        65% { opacity: 0}
        100% { opacity: 0}
    }

    ion-backdrop {
        background: #583318;
        opacity: 0.8 !important;
    }

    .bkg-choose {
        background-image: url(../assets/img/bkg-choose.jpg);
        background-size: cover;
        background-position: center;
    }

    .table {
        background-image: url(../assets/img/table.png);
        background-size: cover;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 200px;
    }

    .product {
            // &__info1 {
            //     @extend .font-bold !optional;
            //
            //     color: white;
            //     text-transform: uppercase;
            //     font-size: 14px;
            //     animation: dissolve-in 10s linear 1.5s infinite normal;
            //     animation-fill-mode: both;
            // }

            // &__info2 {
            //     @extend .font-bold !optional;
            //
            //     color: white;
            //     text-transform: uppercase;
            //     font-size: 14px;
            //     position: absolute;
            //     top: 18px;
            //     left: 0;
            //     width: 100%;
            //     text-align: center;
            //
            //     animation: dissolve-out 10s linear 1.5s infinite reverse;
            //     animation-fill-mode: both;
            // }

            // &__price {
            //     @extend .font-bold !optional;
            //
            //     color: white;
            //     font-size: 38px;
            //     display: inline-block;
            //     vertical-align: middle;
            //     animation: dissolve-in 10s linear 1.5s infinite normal;
            //     animation-fill-mode: both;
            //
            //     &--currency {
            //         @extend .font-bold !optional;
            //
            //         font-size: 24px;
            //         display: inline-block;
            //         vertical-align: middle;
            //         margin-right: 7px;
            //         margin-bottom: 7px;
            //         text-transform: uppercase;
            //     }
            // }

            // &__each {
            //     @extend .font-bold !optional;
            //
            //     color: white;
            //     font-size: 38px;
            //     display: block;
            //     animation: dissolve-out 10s linear 1.5s infinite reverse;
            //     animation-fill-mode: both;
            //     position: absolute;
            //     top: 37px;
            //     left: 0;
            //     width: 100%;
            //     text-align: center;
            // }

        &__labels {
            position: absolute;
            z-index: 4;
            opacity: 0;
            transition: all 0.3s;
            text-align: left;
            top: 42%;
            right: -26%;
        }

        &__cold {
            @extend .font-regular;
            @include border-radius(10px 10px 10px 0px);

            background: #80BFFF;
            color: white;
            text-align: center;
            display: block;
            padding: 6px 11px;
            font-size: 11px;
            text-transform: uppercase;
        }

        &__size {
            @extend .font-regular !optional;
            @include border-radius(0 10px 10px 10px);

            background: #583318;
            color: white;
            text-align: center;
            display: block;
            padding: 6px 11px;
            font-size: 11px;
            display: inline-block;
        }

        &__natura {
            @extend .font-regular;
            @include border-radius(10px 10px 10px 0px);

            background: #FFFFDD;
            color: #573317;
            text-align: center;
            display: block;
            padding: 4px 11px;
            font-size: 11px;
            text-transform: uppercase;
        }

        &__picture {
            height: 45%;
            width: 200%;
            z-index: 2;
            left: -50%;
            display: block;
            position: absolute;
            bottom: 18%;
            margin: 0;
            z-index: 2;
            transform: scale(0.8);
            transition: all 0.5s;
            -webkit-filter: blur(0.6px) brightness(0.8); filter: blur(0.6px) brightness(0.8);

            img-loader {
                background-position: center;
            }
        }

        &__bottom {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            margin: 0;
        }
    }

}

.choose-slider {
    height: 100%;
    position: absolute;
    bottom: 160px;
    margin-left: 0;

    &.on-slide {
        .swiper-slide.swiper-slide-active {
            margin-left: 25%;
        }
    }

    .swiper-pagination {
      top: 170px;

      @media screen and (max-height: 500px) {
          display: none;
      }

      .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        opacity: 1;
        background: #583318;

        &-active {
          width: 9px;
          height: 9px;
          background: #FFFFDD;
          border: 2px solid #583318;
        }
      }
    }
}

.btn-choose {
    @include border-radius(50px);
    @extend .font-bold !optional;

    position: absolute;
    bottom: 0;
    background: #D84040;
    border: 2px solid white;
    font-size: 24px;
    padding: 10px 30px;
    height: auto;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    opacity: 0;
    transition: all .5s;
    box-shadow: none;

    &.activated {
        background: #573317;
    }
}

.swiper-slide-active {
    margin-left: auto;
    z-index: 3;

    .product__labels {
        opacity: 1;
    }

    .product__picture {
        transform: scale(1);
        bottom: 14%;
        -webkit-filter: contrast(100%); filter: contrast(100%);
        -webkit-filter: brightness(1); filter: brightness(1);
        -webkit-filter: blur(0); filter: blur(0);
    }
}

.icon-cold {
    background-image: url(../assets/icon/cold.svg);
    background-size: cover;
    width: 17px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;

    margin-bottom: 1px;
}

.icon-termo {
    background-image: url(../assets/icon/icon-termo.svg);
    background-size: cover;
    width: 11px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;

    margin-bottom: 1px;
}

.btn-white {
    @include border-radius(50px);
    @extend .font-bold !optional;

    background: #D5A86C;
    border: 2px solid white;
    font-size: 17px;
    padding: 15px 30px;
    height: auto;
    width: 100%;
    transition: all .5s;
    color: #583318;
    text-transform: uppercase;
    margin: 15px auto 0;
}

.msg-empty {
    @extend .font-regular !optional;

    top: 3%;
    color: white;
    position: absolute;
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding: 0 30px;
    z-index:4;
    background: #583318;
    margin: 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-top: -10px;
    padding: 20px;
//
//    &.location-error {
//        background: #D5A86C;
//    }
//
//    &.location-error &__title {
//        color: white;
//    }

    &__title {
        @extend .font-bold !optional;

        font-size: 25px;
        color: #D5A86C;
        margin: 0 0 10px 0;
        display: block;
    }

    strong {
        @extend .font-bold !optional;

        display: inline-block;
        padding: 5px 0;
        a{
            color:white;
            text-decoration:underline;
        }
    }
}

.button.btn-schedule {
  background: url(../assets/icon/icon-opened.svg) no-repeat;;
  width: 29px;
  height: 32px;
  border: none;
  box-shadow: none;
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 20px;
}

@keyframes show-up-off {
    0% { bottom: -75px; }
    100% { bottom: 0; }
}

.schedule-off {
    @extend .font-bold;

    font-size: 14px;
    border-top: 1px solid white;
    color: white;
    background: #583318;
    border-radius: 0;
    width: 100%;
    margin: 0;
    position: relative;
    animation: show-up-off 0.3s ease-out 1s 1 normal;
    animation-fill-mode: both;
    height: 75px;

    &__label {
        width: 65%;
        position: absolute;
        left: 20px;
        white-space: initial;
        text-align: left;
        line-height: 1.3em;
        text-transform: initial;
        top: 50%;
        margin-top: -18px;
    }

    .icon-clock-w {
        width: 22px;
        height: 22px;
        background-image: url(../assets/icon/icon-clock-w.svg);
        display: block;
        margin-right: 20px;
        float: left;
        margin-top: 8px;
    }

    &__hours {
        @include border-radius(5px);
        @extend .font-bold !optional;

        color: white;
        position: absolute;
        width: 25%;
        border: 2px solid white;
        font-size: 12px;
        right: 20px;
        padding: 10px;
    }

}

.order-status-bar {
    @extend .font-regular !optional;

    font-size: 12px;
    border-top: 1px solid white;
    color: #583318;
    background: #FFFFDD;
    border-radius: 0;
    height: 37px;
    width: 100%;
    text-align: center;
    margin: 0;
    position: relative;
    animation: show-up-on 0.3s ease-out 1s 1 normal;
    animation-fill-mode: both;

    .icon-loading {
        background-image: url(../assets/icon/icon-loading.svg);
        background-size: cover;
        width: 22px;
        height: 22px;
        border: none;
        border-radius: 0;
        animation: loading 1s linear 0s infinite normal;
        animation-fill-mode: both;
        vertical-align: middle;
        display: inline-block;
        margin-right: 5px;
    }

    .icon-check {
        background-image: url(../assets/icon/icon-check.svg);
        background-size: cover;
        width: 22px;
        height: 22px;
        border: none;
        border-radius: 0;
        vertical-align: middle;
        display: inline-block;
        margin-right: 5px;
    }

    &__label {
        width: 65%;
        position: absolute;
        left: 6px;
        white-space: initial;
        text-align: left;
        line-height: 1.3em;
        text-transform: initial;
        top: 50%;
        margin-top: -12px;

        &.active label {
            @extend .font-bold !optional;
        }

        label {
            display: inline-block;
            margin-top: 2px;
            vertical-align: middle;
        }
    }

    &__image {
        @include border-radius(5px);

        border: 1px solid #573317;
        display: inline-block;
        vertical-align: middle;
        width: 22px;
        height: 22px;
        vertical-align: middle;
        display: inline-block;
        margin: 0 5px 0 0;
        overflow: hidden;

        img {
            height: 100%;
            width: auto;
        }
    }


    .icon-clock {
        width: 22px;
        height: 22px;
        background-image: url(../assets/icon/icon-clock.svg);
        display: inline-block;
        margin-right: 6px;
        vertical-align: middle;
    }

    &:after {
        content: '';
        width: 22px;
        height: 22px;
        background-image: url(../assets/icon/icon-up-brown.svg);
        display: block;
        position: absolute;
        right: 5px;
        top: 50%;
        margin-top: -12px;
    }
}

.icon-shipping {
    width: 21px;
    height: 14px;
    background-image: url(../assets/icon/icon-shipping.svg);
    display: inline-block;
    margin-right: 2px;
    background-size: cover;
    vertical-align: middle;
}

.btn-voucher {
    background: url(../assets/icon/icon-voucher.svg);
    width: 39px;
    height: 39px;
    border: none;
    box-shadow: none;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    right: 20px;

    &.activated {
         background: url(../assets/icon/icon-voucher.svg);
    }
}

.receipt {
    background: #FFFFDD;
    position: absolute;
    box-shadow:0 -7px 10px 0 rgba(0, 0, 0, 0.3);
    z-index: 2;
    width: 100%;
    bottom: 0;
    text-align: center;

    &:before {
        content: "";
        width: 100%;
        height: 20px;
        position: absolute;
        background-image: url('../assets/icon/ticket.svg');
        top: -9px;
        left: 0;
    }

    &__padding {
      padding: 20px 15px;
    }

    &__pricebox {
      @include border-radius(20px);

      display: inline-block;
      vertical-align: middle;
      width: 56%;
      height: 108px;
      margin: 0 7%;
      border: 2px solid #583318;
      text-align: center;
      font-size: 18px;
      transition: opacity 0.2s;
      position: relative;

      &.dragging {
        opacity: 0.2;
      }

      &__pack,
      &__each {
        position: absolute;
        top: 0;
        width: 100%;
      }

      &__pack {
          animation: dissolve-in 8s linear 1.5s infinite normal;
          animation-fill-mode: both;
      }



      &__each {
          animation: dissolve-out 8s linear 1.5s infinite reverse;
          animation-fill-mode: both;
      }
    }

    &__pricebox__pack .receipt__amount {
      text-transform: uppercase;
    }

    &__amount {
      @extend .font-bold;

      color: #583318;
      margin: 10px 0 2px;
      font-size: 18px;
    }

    &__discount {
      @include border-radius(4px 0 0 4px);
      @extend .font-bold;

      color: white;
      font-size: 11px;
      position: relative;
      animation: pop-discount 1s ease 0.5s 1 normal;
      animation-fill-mode: both;
      display: inline-block;
      background-image: url('../assets/icon/icon-tag.svg');
      padding: 2px 11px 2px 4px;
      margin-right: 2px;
      width: 47px;
    }

    &__price {
        @extend .font-regular;

        color: #583318;
        font-size: 16px;

        small {
          font-size: 13px;
        }
    }

    .free-shipping {
      border-top: 1px solid #583318;
      width: 90%;
      margin: 10px auto 0;
      padding: 5px 0;

      label {
          @extend .font-regular;

          font-size: 11px;
          color: #583318;
          text-transform: uppercase;
          display: inline-block;
          vertical-align: middle;
      }
    }

    .btn-minus {
        background-image: url('../assets/icon/minus.svg');
        background-size: cover;
        width: 36px;
        height: 36px;
        display: inline-block;
        vertical-align: middle;
        background-color: transparent;
        transition: opacity 0.2s;

        &.dragging {
          opacity: 0.2;
        }
    }

    .btn-plus {
        background-image: url('../assets/icon/plus.svg');
        background-size: cover;
        width: 36px;
        height: 36px;
        display: inline-block;
        vertical-align: middle;
        background-color: transparent;
        transition: opacity 0.2s;

        &.dragging {
          opacity: 0.2;
        }
    }
}

.btn-primary {
    @include border-radius(0);
    @extend .font-bold;

    background: #D84040;
    border-top: 2px solid #583318;
    font-size: 24px;
    padding: 20px;
    height: auto;
    width: 100%;
    margin: 0;
    text-transform: uppercase;
}
