page-map {
    scroll-content {
        overflow-y: hidden;
    }

    .btn-back {
      @include border-radius(0 10px 10px 0);

      position: absolute;
      top: 30px;
      left: 0;
      background: $color-secondary;
      z-index: 4;
      width: 65px;
      text-align: center;
      padding: 15px 0;
    }

    #map {
        width: 100%;
        height: 100%;
    }
    #map:after {
        transition: all 0.1s;
        width: 59px;
        height: 66px;
        display: block;
        content: ' ';
        position: absolute;
        top: 50%; left: 50%;
        margin: -76px 0 0 -30.5px;
        background: url(../assets/icon/map-pin.svg);
        background-size: contain;
        pointer-events: none; /* This disables clicks on the marker. Not fully supported by all major browsers, though */
    }

    #map:before {
        width: 7px;
        height: 13px;
        display: block;
        content: ' ';
        position: absolute;
        top: 50%; left: 50%;
        margin: -12px 0 0 -4.5px;
        background: url(../assets/icon/icon-pin-after.svg);
        background-size: contain;
        pointer-events: none;
        z-index: 2;
    }

    #map.texting:after {
      display: none;
    }

    #map.moving:after {
      margin: -86px 0 0 -30.5px;
    }

    #map.moving:before {
      width: 12px;
      height: 13px;
      margin: -12px 0 0 -6px;
      background: url(../assets/icon/icon-pin-moving.svg);
    }

    .map {

        &__btn {
            @include border-radius(0);
            @extend .font-bold;

            background: $color-primary;
            border-top: 2px solid $color-secondary;
            font-size: 24px;
            padding: 20px;
            height: auto;
            width: 100%;
            margin: 0;
            text-transform: uppercase;
        }

        &__navigation {
            background: #ccc;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        &__address {
            padding: 0 10px;
            width: 100%;
            position: absolute;
            top: 15px;
            left: 0;
            z-index: 3;

            &__icon {
                position: absolute;
                left: 25px;
                top: 18px;
            }

            &__plus {
                position: absolute;
                left: 30px;
                BOTTOM: 23px;
            }

            &__number {
                @extend .font-bold;

                border-radius: 0;
                color: $color-secondary;
                position: absolute;
                right: 12px;
                top: 15px;
                height: 25px;
                background: white;
                padding: 15px;
                width: 100px;
                border-color: $color-secondary;
                box-shadow: -22px 0 20px 0 white;
                border-width: 0 0 0 1px;
                text-align: center;
            }

            &__input {
                @extend .font-regular;

                display: block;
                background: white;
                color: $color-secondary;
                border: 2px solid $color-secondary;
                height: 60px;
                width: 100%;
                padding: 18px 15px 18px 50px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                .text-input {
                    margin: 0;
                }

                &:first-child {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                &:last-child {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border-top: none;
                }
            }

            &__autocomplete {
                @include border-radius(10px);

                background: white;
                position: absolute;
                top: 62px;
                width: 100%;
                left: 0;
                z-index: 5;
                margin: 0;
                padding: 0;
                list-style: none;
                box-shadow: 0 5px 10px 0 rgba(0,0,0,.5);

                &__item {
                    @extend .font-regular;

                    color: #666;
                    font-size: 14px;
                    padding: 15px;
                    border-bottom: 1px solid #ccc;
                    margin: 0;

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

.icon-map {
    background-image: url(../assets/icon/map-pin.svg);
    background-size: cover;
    width: 24px;
    height: 29px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    &.texting {
      visibility: hidden;
    }
    &.moving {
      width: 70px;
    }
}

.icon-plus-b {
    background-image: url(../assets/icon/icon-plus-b.svg);
    background-size: cover;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.address__autocomplete {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: none;

    border: 2px solid $color-secondary;
    background: white;
    padding: 0;
    list-style: none;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.4);
    z-index: 999;
    position: absolute;
    left: 0;
    margin: -2px 10px 0;

    &__item {
        @extend .font-regular;

        color: #666;
        font-size: 14px;
        padding: 15px;
        border-bottom: 1px solid #ccc;
        margin: 0;
        text-align: left;

        &:last-of-type {
            border-bottom: none;
        }
    }
}

.address {

    &__box {
        padding: 0 10px;
        width: 100%;
        position: absolute;
        top: 35px;
        left: 0;
        z-index: 2;
        opacity: 1;
        transition: all 0.3s;

        &.hidden{
            display: none;
            opacity: 0;
        }
    }

    &__icon {
        position: absolute;
        left: 25px;
        top: 15px;
        z-index: 999;
    }

    &__input {
        @extend .font-regular;
        @include border-radius(10px);

        box-shadow: none;
        display: block;
        background: white;
        color: $color-secondary;
        border: 2px solid $color-secondary;
        height: 60px;
        width: 100%;
        padding: 18px 0 18px 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        input {
            margin: 0;
        }
    }
}

.icon-shipping-white {
  background-image: url(../assets/icon/icon-shipping-white.svg);
  background-size: cover;
  width: 29px;
  height: 19px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.icon-pin-min {
  background-image: url(../assets/icon/icon-pin-min.svg);
  background-size: cover;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.icon-location {
  background-image: url(../assets/icon/icon-location.svg);
  background-size: cover;
  width: 38px;
  height: 38px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20xpx;
  margin-bottom: 20xpx;
}
