<ion-header>
  <!--<ion-toolbar>
    <ion-title>
      Description
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>-->
</ion-header>

<ion-content class="receipt">
  <div class="modal-overlay" (click)="dismiss()"></div>
  <div class="receipt__box">
    <div class="receipt__quantidade">
      <h2 class="receipt__title">Quantas caixas?</h2>
      <span class="btn-minus" (click)="decreaseAmount()"></span>
      <span class="quantidade-number" *ngIf="beer">{{beer.amount}}</span>
      <span class="btn-plus" (click)="increaseAmount()"></span>
    </div>
    <div class="receipt__total">
      <h2 class="receipt__title">Total a pagar</h2>
      <span class="total__pricebox" *ngIf="beer">
        <small class="total__pricebox--currency" >R$</small>{{beer.price * beer.amount}}
      </span>
    </div>
    <p class="receipt__alert">Só aceitamos cartão de crédito/débito.</p>
    <button ion-button secondary class="receipt__btn" (click)="gotomap()">Pedir</button>

  </div>

</ion-content>
