@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

.font-bold {
    font-family: 'Montserrat';
    font-weight: 700;
}

.font-regular {
    font-family: 'Montserrat';
    font-weight: 400;
}
