

<ion-content class="receipt">
  <div class="modal-overlay"  [ngClass]="closing ? 'on-close': '' " (click)="close('cancel')"></div>

  <div class="checkout__box">

    <div class="checkout__order">
      <span class="checkout__picture" *ngIf="product"><img-loader class="figure__pedido__img" [src]="'http://cerveja.me/img/mobile/'+product.product.img"></img-loader></span>
      <h2 class="receipt__amount">2 Caixas</h2>
      <span class="receipt__discount">-5%</span>
      <span class="receipt__price">R$ 150,00</span>
    </div>
    <div class="checkout__voucher" *ngIf="product">
      <button class="checkout__voucher__btn" (click)="openVoucherModal()" [ngClass]="coupom?'active':''">
        <label *ngIf="!coupom">+</label>
        <span class="checkout__voucher__icon"></span>
        <label *ngIf="coupom">-R$ {{coupom.value | number:'2.2-2'}}</label>
      </button>
    </div>

    <div class="checkout__total" *ngIf="product">
      <span class="checkout__total__title">Total a pagar</span>
      <span class="checkout__total__pricebox">
        <span class="checkout__total__oldprice"*ngIf="coupom && product.amount>=coupom.min_amount">R$ {{product.amount * product.beer.price |number:'2.2-2'}}</span>
        <small class="checkout__total__pricebox--currency" >R$</small>{{product.amount * product.beer.price -(coupom?coupom.value:0) |number:'2.2-2'}}
      </span>
    </div>

    <div class="payment">
      <button class="payment__option" [ngClass]="payment=='card'?'active':''" (click)="payment='card'">
        <span class="icon-maquina"></span>
        <label class="payment__option__label">Máquina</label>
      </button>
      <button class="payment__option" [ngClass]="payment=='money'?'active':''" (click)="payment='money'">
        <span class="icon-money"></span>
        <label class="payment__option__label">Dinheiro</label>
      </button>
      <button class="payment__option inactive">
        <span class="icon-card"></span>
        <label class="payment__option__label">Via app</label>
      </button>
    </div>

    <div class="receipt__address" (click)="close()" ><span class="icon-map receipt__address__icon" *ngIf="address"></span>{{address}}<span class="icon-arrow-fw" *ngIf="address"></span></div>


    <button ion-button secondary class="btn-primary" (click)="finishOrder()">CONCLUIR PEDIDO</button>

  </div>

</ion-content>
