

<ion-content class="background-light">

  <div class="order" *ngIf="sale">
    <figure class="order__image">
      <img-loader class="order__image__img" [src]="'http://cerveja.me/img/mobile/'+sale.prodreg.product.img"></img-loader>
    </figure>
    <label class="order__label">{{sale.amount}} {{sale.prodreg.product.cold?'Caixa':'Garrafa'}}{{sale.amount>1?'s de':' de'}} {{sale.prodreg.product.name}}</label>
  </div>


    <div class="checkout__order" >
      <span class="checkout__picture" >
        <img-loader class="figure__pedido__img" [src]="'http://cerveja.me/img/mobile/'+or.product.product.beer.img">
      </img-loader></span>
      <h2 class="receipt__amount">{{or.product.amount}} {{or.product.product.beer.cold?'Caixa':'Garrafa'}}{{or.product.amount>1?'s':''}}</h2>
      <!-- <span class="receipt__discount" *ngIf="product.discount>0">-{{product.discount *100 |number:'1.0-0'}}%</span> -->
      <span class="receipt__price">R$ {{or.product.product.price |number:'1.2-2'}}</span>
    </div>

    <div class="payment">
      <button class="payment__option" [ngClass]="payment=='card'?'active':''" (click)="payment='card'">
        <span class="icon-maquina"></span>
        <label class="payment__option__label">Máquina</label>
        <span class="payment__add-beercoin">
          <span class="icon-beercoin-min"></span>
          <label>+ 50</label>
        </span>
      </button>
      <button class="payment__option" [ngClass]="payment=='money'?'active':''" (click)="payment='money'">
        <span class="icon-money"></span>
        <label class="payment__option__label">Dinheiro</label>
        <span class="payment__add-beercoin">
          <span class="icon-beercoin-min"></span>
          <label>+ 50</label>
        </span>
      </button>
      <button class="payment__option">
        <span class="icon-beercoin"></span>
        <label class="payment__option__label"><small>1500</small>Beercoins</label>
      </button>
      <button class="payment__option soon">
        <span class="icon-card"></span>
        <label class="payment__option__label">Via app</label>
      </button>
    </div>

    <div class="checkout__voucher">
      <button class="checkout__voucher__btn" (click)="openVoucherModal()" [ngClass]="coupom?'active':''">
        <label *ngIf="!coupom">+</label>
        <span class="checkout__voucher__icon"></span>
        <label *ngIf="coupom">-R$ {{coupom.value | number:'2.2-2'}}</label>
      </button>
    </div>

    <div class="checkout__total" >
      <span class="checkout__total__title">Total a pagar</span>
      <span class="checkout__total__pricebox">
        <span class="checkout__total__oldprice"*ngIf="coupom && or.product.amount>=coupom.min_amount">R$ {{or.product.product.price |number:'2.2-2'}}</span>
        <small class="checkout__total__pricebox--currency" >R$</small>{{or.product.product.price -(coupom?coupom.value:0) |number:'2.2-2'}}
      </span>
    </div>



    <div class="receipt__address" (click)="close()" ><span class="icon-pin-min receipt__address__icon" *ngIf="address"></span>{{address}}<span class="icon-arrow-fw" *ngIf="address"></span></div>

</ion-content>

<ion-footer>
    <button ion-button secondary class="btn-primary" (click)="finishOrder()">CONCLUIR PEDIDO</button>
</ion-footer>
