<ion-header>
</ion-header>

<ion-content class="receipt">
  <div class="modal-overlay" (click)="dismiss()"></div>
  <div class="receipt__box">

    <div class="receipt__quantidade">
      <h2 class="receipt__title">Seu pedido</h2>
      <span class="figure__pedido" *ngIf="product"><img [src]="'assets/img/'+product.product.img"/></span>
      <span class="quantidade-pedido" *ngIf="product">{{product.amount}} Caixas de {{product.product.name}}</span>
    </div>
    <div class="receipt__total" *ngIf="product">
      <h2 class="receipt__title teste">Total a pagar</h2>
      <span class="total__pricebox">
        <small class="total__pricebox--currency" >R$</small>{{product.amount * product.price}}
      </span>
    </div>
    <p class="receipt__alert"><span class="icon-card"></span>Só aceitamos cartão de crédito/débito.</p>
    <p class="receipt__address"><span class="icon-map" *ngIf="address"></span>{{address}}</p>

    <button ion-button secondary class="receipt__btn" (click)="finishRequest()">CONFIRMAR PEDIDO</button>

  </div>

</ion-content>
