.quantidade-pedido {
  @extend .font-bold;

  font-size: 12px;
  color: #583318;
    text-align: left;
    width: 56%;
    text-align: left;
    display: inline-block;
    margin-top: 8px;
    text-transform: uppercase;
    margin-left: 10px;
}

.receipt__address {
  text-align: center;
    position: relative;

  @extend .font-regular;

  font-size: 14px;
  color: #583318;
    margin: 0;
    padding: 15px 45px 15px;
    
    &__icon {
        position: absolute;
        top: 50%;
        left: 15px;
        margin-top: -15px;
    }
}

.figure__pedido {
    @include border-radius(10px);
    
    border: 2px solid #583318;
    float: left;
    text-align: center;
    width: 49px;
    height: 49px;
    text-align: center;
    overflow: hidden;
    

  &__img {
        display: block;
        height: 100%;
        width: auto;
        background-size: cover !important;
        text-align: center;
        margin: 0 auto;
    }
}

.icon-card {
    background-image: url('../assets/icon/card.svg');
 background-size: cover;
 width: 25px;
 height: 18px;
 display: inline-block;
 vertical-align: middle;
    margin-right: 10px;
}

.icon-arrow-fw {
    background-image: url('../assets/icon/arrow-fw.svg');
 background-size: cover;
 width: 11px;
 height: 20px;
 display: inline-block;
 vertical-align: middle;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -10px;
}