<ion-header>
</ion-header>

<ion-content class="receipt">
  <div class="modal-overlay" (click)="dismiss()"></div>
  <div class="receipt__box">
      
      <!--<div class="icon-splash" *ngIf="product">
        <img-loader *ngIf="product" [src]="'http://cerveja.me/img/mobile/'+product.product.img"></img-loader>
      </div>-->

    <div class="receipt__quantidade">
      <h2 class="receipt__title">Seu pedido</h2>
      <span class="figure__pedido" *ngIf="product"><img-loader [src]="'http://cerveja.me/img/mobile/'+product.product.img"></img-loader></span>
      <span class="quantidade-pedido" *ngIf="product">{{product.amount}} Caixas de {{product.product.name}}</span>
    </div>
    <div class="receipt__total" *ngIf="product">
      <h2 class="receipt__title teste">Total a pagar</h2>
      <span class="total__pricebox">
        <small class="total__pricebox--currency" >R$</small>{{product.amount * product.price |number:'2.2-2'}}
      </span>
    </div>
    <p class="receipt__address"><span class="icon-map" (click)="dismiss()" *ngIf="address"></span>{{address}}</p>
      
      <div class="payment">
  <button class="payment__option" [ngClass]="payment=='card'?'active':''" (click)="payment='card'">
    <span class="icon-maquina"></span>
    <label class="payment__option__label">Máquina cartão</label>
  </button>
  <button class="payment__option" [ngClass]="payment=='money'?'active':''" (click)="payment='money'">
    <span class="icon-money"></span>
    <label class="payment__option__label">Dinheiro</label>
  </button>
  <button class="payment__option" [ngClass]="payment=='app'?'active':''">
    <span class="icon-card"></span>
    <label class="payment__option__label">Via app (em breve)</label>
  </button>
</div>
      
   

    <button ion-button secondary class="receipt__btn" (click)="finishRequest()">CONCLUIR PEDIDO</button>

  </div>

</ion-content>
