.quantidade-pedido {
  @extend .font-bold;

  font-size: 14px;
  color: #583318;
    text-align: left;
    width: 67%;
    text-align: left;
    display: inline-block;
    margin-top: 8px;
    text-transform: uppercase;
}

.receipt__address {
  text-align: center;

  @extend .font-regular;

  font-size: 14px;
  color: #583318;
    margin-bottom: 0;
    padding: 5px 20px 15px;
}

.figure__pedido {
  float: left;
  text-align: center;
    width: auto;
    height: 51px;

  img {
    width: auto;
    height: 100%;
  }
}

.icon-card {
    background-image: url('../assets/icon/card.svg');
 background-size: cover;
 width: 25px;
 height: 18px;
 display: inline-block;
 vertical-align: middle;
    margin-right: 10px;
}

