<ion-header>
 <h1 class="logo-dark"></h1>
</ion-header>

<ion-content class="bkg-choose center">
  <div class="table"></div>

  <!-- <h1 *ngFor="let p of products">oi</h1> -->

  <ion-slides class="choose-slider" *ngIf="!products.length">
   <ion-slide>
     <p class="msg-empty">Não atendemos sua região :( <br/><br/>

       Leve o Cerveja.me para sua cidade:<br/>
       <strong>euquero@cerveja.me</strong></p>
       <p class="choose__bottom">
        <figure class="choose__picture">

          <img style="margin-top: 5%" src="assets/img/empty.png">
        </figure>
      </p>
    </ion-slide>
  </ion-slides>

  <ion-slides class="choose-slider" [options]="sliderOptions" *ngIf="products.length">
    <ion-slide *ngFor="let prod of products">
      <div *ngIf="prod.product.cold">
        <p class="choose__pricebox">
          <span class="choose__pricebox__info1">{{prod.product.description}}</span>
          <span class="choose__pricebox__info2">Por Unidade</span>
          <span class="choose__pricebox__price">
           <small class="choose__pricebox__price--currency">R$</small>{{prod.price |number:'2.2-2'}}
         </span>
         <span class="choose__pricebox__each">
           <small class="choose__pricebox__each--currency">R$</small>{{prod.unitvalue |number:'2.2-2'}}
         </span>
         <span class="free-shipping"><span class="icon-shipping-white"></span>Grátis</span>
         <span class="cold-beer" *ngIf="prod.product.cold"><span class="icon-cold"></span>Gelada!</span>
       </p>
       <p class="choose__bottom">
        <figure class="choose__picture">
          <img-loader [src]="'http://cerveja.me/img/mobile/'+prod.product.img"></img-loader>
        </figure>
        <button ion-button secondary class="btn-choose" *ngIf="!closed" (click)="selectBeer(prod)">ESCOLHER</button>
      </p>
    </div>
    <div *ngIf="!prod.product.cold">
      <p class="choose__pricebox">
        <span class="choose__pricebox__info1">{{prod.product.details.type}}</span>
        <span class="choose__pricebox__info2">{{prod.product.details.winery}}</span>
        <span class="choose__pricebox__price">
         <small class="choose__pricebox__price--currency">R$</small>{{prod.price |number:'2.2-2'}}
       </span>
       <span class="choose__pricebox__each">
         <small class="choose__pricebox__each--currency">{{prod.product.details.grape}}</small>
       </span>
       <span class="free-shipping"><span class="icon-shipping-white"></span>Grátis</span>
       <span class="termo-natura" *ngIf="!prod.product.cold"><span class="icon-termo"></span>Natural</span>
     </p>
     <p class="choose__bottom">
      <figure class="choose__picture">
        <img-loader [src]="'http://cerveja.me/img/mobile/'+prod.product.img"></img-loader>
      </figure>
      <button ion-button secondary class="btn-choose" *ngIf="!closed" (click)="selectBeer(prod)">ESCOLHER</button>
    </p>
  </div>
</ion-slide>

</ion-slides>

</ion-content>
<ion-footer *ngIf="products && products.length && loadedcompleted" align-title="left" >
  <button ion-button secondary (click)="openSchedule()" class="schedule-on" *ngIf="!closed" >
    <span class="schedule-on__label">
      <span class="icon-clock"></span>
      <label>Estamos atendendo</label>
    </span>
  </button>
  <button ion-button (click)="openSchedule()" secondary class="schedule-off" *ngIf="closed"  >
    <span class="schedule-off__label">
      <span class="icon-clock-w"></span>Não é possível fazer pedidos agora.</span>
      <span class="schedule-off__hours">Horários</span>
    </button>

    <button ion-button secondary (click)="openSale()" class="order-status-bar" *ngIf="sale && sale.id" >

      <span class="order-status-bar__label" *ngIf="!sale.aceptedAt && !sale.onWayAt">
        <span class="icon-loading"></span>
        <label>Aguardando confirmação</label>
      </span>

      <span class="order-status-bar__label active" *ngIf="sale.aceptedAt && !sale.onWayAt">
        <span class="icon-check"></span>
        <label>Perdido confirmado</label>
      </span>

      <span class="order-status-bar__label delivery active" *ngIf="sale.aceptedAt && sale.onWayAt">
        <figure class="order-status-bar__image">
          <img-loader [src]="'http://cerveja.me/img/mobile/driver/'+sale.user.img"></img-loader>
        </figure>
        <label>{{sale.user.name}} saiu para entrega</label>
      </span>
    </button>
  </ion-footer>

