<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page One</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content class="bkg-choose center">
  <div class="table"></div>
  <h1 class="logo-home"></h1>
  <!-- <h1 *ngFor="let p of products">oi</h1> -->

  <ion-slides class="choose-slider" [options]="sliderOptions">

    <ion-slide *ngFor="let p of products">
     <p class="choose__pricebox">
       <span class="choose__pricebox__info">{{p.product.description}} </span>
       <span class="choose__pricebox__price">
        <small class="choose__pricebox__price--currency">R$</small>{{p.price}}
      </span>
      <span class="free-shipping">Frete Grátis</span>
      <span class="cold-beer"><span class="icon-cold"></span>Gelada!</span>
    </p>
    <p class="choose__bottom">
      <figure class="choose__picture">
        <img [src]="'assets/img/'+p.product.img">
      </figure>
      <button ion-button secondary class="btn-choose" (click)="openModal({charNum: 0})">ESCOLHER</button>
    </p>
  </ion-slide>

</ion-slides>
</ion-content>
